---
---

@import "{{ site.theme }}";

// 以下、自由にスタイルを追加してください。
.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}


a {
    color: #0079c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color:red;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    &__logo {
        width: min(22vw, 140px);
        margin-left: 8px;
    }
    &__title {
        color: #015591;
        margin: 0 8px;
        font-size: 13px;
        line-height: 1;
    }
    .brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .maps-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: #FFFFFF;
        border: 2px solid #0079C4;
        border-radius: 8px;
        padding: 7px 8px;
        margin-right: 16px;
        &__arrow{
            display: none;
        }
        p{
            margin: 0 8px;
            font-weight: 700;
            font-size: 12px;
            line-height: 17px;
            display: none;
        }
        &:hover{
            color: #0079C4;
            text-decoration: none;
            background: rgba(0, 121, 196, 0.1);
        }
    }
}
  
@media (min-width: 768px) {
    .header {
        height: auto;
        padding: 0px 14px;
        &__title {
            font-size: min(4.1vw, 18px);
        }
        &__logo {
            width: min(38vw, 240px);
            margin-left: 8px;
        }
        .maps-link {
            p{
                display: block;
            }
            &__arrow{
                display: block;
            }
        }
    }
}

.page-header {
    padding: 32px 16px;
    background-color: #015591;
    color: #fff;
    background: url(../img/img_fv.jpg) center;
    background-size: cover;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.5);
    .btn { 
        text-shadow: none;
        background-color: rgba(1, 85, 145, 0.8);
        color: #ffffff;
        &:hover{
            color: #ffffff;
            background-color: rgba(1, 85, 145, 1);
            opacity: 1;
            border-color: #fff;
        }
    }
}


@media (min-width: 768px) {
  .page-header {
    padding: 72px 16px;
    text-align: center;
  }
}

.project-tagline{
    opacity: 0.8;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color: #0079c4;
}

.main-content h1{
    color: #0079c4;
    font-weight: bold;
}
.main-content h2{
    color: #0079c4;
    font-size: 1.8em;
    position: relative;
    padding: 0;
    border-bottom: 6px solid #c9e4f2;
    margin-top: 3rem;
}

.main-content h2:before {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 20%;
    height: 6px;
    content: '';
    background: #0079c4;
}
.main-content h3{
    color: #0079c4;
    border-bottom: 1px solid #0079c4;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 3rem;
}
